# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración sensibles en la raíz
*.env
/application.properties
/application-local.properties

# Logs
*.log

# Permitir application.properties de microservicios
!ms-books-catalogue/src/main/resources/application.properties
!ms-books-payments/src/main/resources/application.properties
!eureka-server/src/main/resources/application.properties